[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
google-generativeai = "*"
python-dotenv = "*"
pydantic = {version = "*", extras = ["email, phone, full-name"]}
email-validator = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
api = "uvicorn main:app --reload"
generate = "python run_local.py"
